/* flex items-start self-stretch p-2 gap-4 rounded-[8px] bg-gradient-to-r hover:from-gray-700 hover:via-slate-200 hover:to-gray-700 transition-all ease-in-out w-[550px] */
.gradient {
  display: flex;
  align-items: start;
  align-self: stretch;
  padding: 8px;
  gap: 16px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-image: white;
  z-index: 1;
}
.gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(51, 51, 51);
  background: linear-gradient(
    90deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(51, 51, 51, 1) 100%
  );
  z-index: -1;
  transition: opacity 0.4s linear;
  opacity: 0;
}
.gradient:hover::before {
  opacity: 1;
}